body, html {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#pt {
  width: 70%;
}

#ct {
  width: 30%;
}

#ct-cart, #pt-catalog {
  padding: 0 15px;
}

#ct-cart > ul > #ct-cart-item > p {
  font-weight: bold;
  text-align: center;
}

#ct-cart > ul > #ct-cart-item > ul {
  width: 100%;
  max-width: 310px;
  margin: auto;
}

#ct-cart > ul > #ct-cart-item > ul > li {
  display: inline-block;
  max-width: 74px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#ct-cart > ul > #ct-cart-item > ul > li > img{
  width: 50px;
}

#ct-cart > #ct-cart-total > p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
